<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WeatherApp | About</title>
  <link rel="icon" href="/img/weather.png">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/app.js"></script>
</head>

<body>
  <div class="main-content">
    {{>header}}
    <p>This site was created by Andy Bradshaw. It uses data from <a class="about-link" target="_blank" href="https://www.mapbox.com/">Mapbox</a> and <a class="about-link" target="_blank" href="https://weatherstack.com/">Weather Stack</a></p>
    <img class="portrait" src="/img/gibson-guitar.jpg" alt="">
  </div>

  {{>footer}}
</body>

</html>